{% extends "layout.html" %}

{% block title %}
    About Astrology
{% endblock %}

{% block main %}
<div class="alert alert-dismissible alert-success">
    All information below here is taken from <strong><a href="https://www.astro.com">Astro</a></strong>
</div>
<br>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Introduction to Astrology
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        </div>
        <div class="center" id="colmain_rbm">
            <div class="col-md">
                <h1>Introduction to Astrology</h1>
                <div class="infotxt">
                <p>Astrodienst horoscopes are easy
                to understand, even for those who have not dealt with astrology before -
                you needn't know any of the scientific jargon involved to be able to profit
                from our horoscope readings. If we are lucky, though, your interest in this
                fascinating subject matter has been awakened by one of our short texts. This
                short online introduction can help make you familiar with most of the astrological
                techniques and give you a basic understanding of how it's all done. If you
                wish to learn more about astrology, we suggest you read some of the standard
                textbooks mentioned in our <a href="https://www.astro.com/astrology/in_lit_intro_e.htm">bibliography</a>,
                or contact an astrology school near you.</p>
                <div class="mt-2 mb-4"><img src="https://www.astro.com/im/in/in_solarsystem21.jpg" alt="solar system" style="width:50%;height:auto;max-width:unset"></div>
                <h3>Introduction</h3>
                <p>    Astrology sees mankind as being not only influenced by hereditary factors
                    and the environment, but also by the state of our solar system at the moment
                    of birth. The planets are regarded as basic life-forces, the tools we live
                    by as well as the basis of our very substance. These planetary forces take
                    on different forms, depending on their zodiacal position and on the way
                    they relate to one another. </p>
                <p>The aspects formed between the planets describe these relationships, the
                positions of the planets in relation to the place of birth tell us of their
                expression in the spheres of life depicted by the astrological houses. </p>
                <p>By interpreting the roles of these players (the planets) and their qualities
                (the elements, signs and houses) and creating a synthesis, astrology is able
                to present a complete and comprehensive picture of the person and his potential,
                based on the natal horoscope. </p>
                <img src="https://www.astro.com/im/in/in_zodiacalmen.jpg" style="width:40%; max-width:300px; height:auto;" class="fright border rounded" alt="Zodiacal Men">
            </div>
    </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About Planets
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div>
                <h3 >Sun</h3>
                  The Sun tells us of the actual core of a person, the inner self, of that
                      which is of central concern. It also shows us the general vitality
                      and the ability to assert oneself, it describes a general tone of being
                      which colors everything else.&nbsp; <br>
                                    <b>Sign equivalent: Leo</b><br>
                                    <span class="txt8p">Diameter: 1'390'000 km.<br>
                                      The Earth's orbit from Sun: 149'600'000km<br>
                                      Periode Earth - Sun: 365.25 Days</span><p></p></div>
                <hr size="1">
                </div>
                <div>
                  <h3>Moon</h3>
                    The Moon represents our feelings and emotions, the receptivity, imagination
                    and basic feeling tone of a person. It also has an effect on the sense of
                    rhythm, time and timing, it influences our adaptability to change, our mobility
                    and versatility.&nbsp; <br>
                         <b>Sign equivalent: Cancer</b><br>
                         <span class="txt8p">Orbit from Earth: 384'000km<br>
                          Period: 27.32 Days</span>
                         <p></p>
                </div>
                <div>
                  <h3>Mercury</h3>
                    Mercury represents reason, reasonableness (common sense), that which is
                    rational. It stands for the spoken and written word, putting in order, weighing
                    and evaluating, the process of learning and skills.&nbsp; <br>
                         <b>Sign equivalents: Gemini and Virgo<br>
                         </b> <span class="txt8p">Orbit from Sun: 57'910'000 km<br>
                          Period: 88 Days</span>
                         <p></p>
                </div>
                <div>
                  <h3>Venus</h3>
                    Venus gives us a sense of beauty, the enjoyment of pleasure, aesthetic awareness,
                    love of harmony, sociability, taking pleasure in relationships and eroticism.&nbsp; <br>
                         <b>Sign equivalents: Libra and Taurus</b><br>
                         <span class="txt8p">Orbit from Sun: 108'200'000 km<br>
                          Period: 225 Days</span>
                         <p></p>
                </div>
                <div>
                  <h3>Mars</h3>
                    Mars represents the energy and drive of a person, their courage, determination,
                    the freedom of spontaneous impulse. It also describes the readiness for
                    action, the way one goes about doing things as well as simple aggression.&nbsp; <br>
                         <b>Sign equivalent: Aries</b><br>
                         <span class="txt8p">Orbit from Sun: 227'940'000 km<br>
                          Period: 1,9 Years</span>
                         <p></p>
                </div>
                <div>
                  <h3>Jupiter</h3>
                    The search for individual meaning and purpose, optimism, hope and a sense
                    of justice are represented by Jupiter. So also faith, a basic philosophy
                    of life, the striving for spiritual growth and expansion.&nbsp; <br>
                         <b>Sign equivalent: Sagittarius</b><br>
                         <span class="txt8p">Orbit from Sun: 778'330'000 km<br>
                          Period: 11,9 Years</span>
                         <p></p>
                </div>
                <div>
                  <h3>Saturn</h3>
                    Saturn shows how we experience "reality", where we meet with resistance
                    and discover our limitations. It represents the conscience and moral conviction,
                    the laws and rules which we choose to obey. It also tells us about&nbsp; our
                    powers of endurance and the ability to concentrate, it lends qualities like
                    earnestness, caution and reserve.&nbsp; <br>
                     <b>Sign equivalent: Capricorn</b><br>
                     <span class="txt8p">Orbit from Sun: 1'429'400'000 km<br>
                      Period: 29,5 Years</span>
                     <p></p>
                </div>
                <div>
                  <h3>Uranus</h3>
                    Uranus stands for intuition, it transmits sudden inspiration and lightning
                    insights. An openness for all that is new, unknown and unusual. A sort of
                    wrong-headed contrariness is also associated with this planet. It is said
                    to be characteristic of astrology as such.&nbsp; <br>
                         <b>Sign equivalent: Aquarius</b><br>
                         <span class="txt8p">Orbit from Sun: 2'870'990'000 km<br>
                          Period: 84 Years</span>
                         <p></p>
                </div>
                <div>
                  <h3>Neptune</h3>
                    This planet gives us the supersensory, opens doors to mystical experience
                    and the transcendental. On this level it is hard to discern where perception
                    moves into deception, illusion and false appearances, and so Neptune is
                    associated with all of these, with drugs and all kinds of pseudo-realities.&nbsp; <br>
                         <b>Sign equivalent: Pisces</b><br>
                         <span class="txt8p">Orbit from Sun: 4'504'300'000 km<br>
                          Period: 165 Years</span>
                         <p></p>
                </div>
                <div>
                  <h3>Pluto</h3>
                    Pluto describes how we deal with power, personal and non-personal, be it
                    through suffering the power of others or exercising it ourselves. It describes
                    how we meet the demonic and magical, our regenerative powers and our capacity
                    for radical change and rebirth: the cycles of dying and becoming.&nbsp; <br>
                         <b>Sign equivalent: Scorpio</b><br>
                         <span class="txt8p">Orbit from Sun: 5'913'520'000 km<br>
                          Period: 248 Years</span>
                         <p></p>
                </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Other Celestial Bodys
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="infotxt">
                <p>Besides the ten "classical" planets whose importance is recognized by all
                  astrologers, there are several other heavenly bodies which are not all regarded
                  as equally important by all astrologers. <a href="https://www.astro.com/astrology/in_chiron_e.htm">Chiron</a> has
                  been widely acknowledged. Some astrologers observe the greater asteroids,
                  Ceres, Pallas, Juno and Vesta and include them in their interpretations.
                  In addition to this, certain schools of astrology work with a series of
                  so-called hypothetical planets, which cannot be related to any of the known
                  celestial bodies.&nbsp;<br>
                           <a name="RUECKLAUF"></a> </p>
                <h3>Retrograde Motion</h3>
                <p> If we look at our solar system "from above", all of the planets revolve
                  around the sun in the same direction (anti-clockwise). However, since astrology
                  views the planets as they are seen from the earth, some of the planets seem
                  to be moving backwards at times. This would seem to be the case, when an
                  outer, slow-moving planet such as Saturn is overtaken by the earth. When
                  the planets are in retrograde motion, in other words, apparently moving
                  backwards,&nbsp; the astrological position is marked with an R.&nbsp; </p>
                <p>Whether this is of significance or not still gives rise to discussion.
                  However, it can help us decide whether a particular aspect is still operative
                  or not. (<a href="https://www.astro.com/astrology/in_aspect_e.htm">see also:
                  Aspects</a>).&nbsp; The motion of the planets can also help us make decisions
                  on other astrological matters.&nbsp; <a name="ANDERE_PUNKTE"></a> </p>
                <h3>Other Parts and Points</h3>
                <p> Astrologers use a colorful collection of "points".
                  These derive from points within the horoscope and are of symbolic significance,
                  such as the "part
                  of fortune" or the "Age Point". At present there is very little agreement
                  amongst astrologers on the importance of these points, or on how meaningful
                  they actually are.&nbsp; </p>
                <p><a href="https://www.astro.com/astrology/in_lilith_e.htm">Lilith</a> and
                  the Moon's nodes are exceptions: these points are based on astronomical
                  data and consequently find more acceptance in astrological circles. The
                  moon’s nodes, which are always exactly opposed, are those points where
                  the paths of the moon and the earth cross. Most astrologers see these points
                  as being of karmic significance: The ascending or northern node is said
                  to represent the spiritual development called for in this life, while the
                  descending or southern node represents experience gathered during previous
                  lives. Another point of view regards the northern node as a point of meeting,
                  signifying important personal ties or connections, while the south node
                  indicates separation. The well-known German astrologer Thomas Ring taught
                  that the northern node shows where subconscious contents can become accessible,
                  whereas the southern node shows where conscious awareness can sink back
                  into the depths of the unconscious.&nbsp;</p>
                <h3>&nbsp;</h3>
                </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            The four Elements and the Signs
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div>
                <p>The fact that the astrological signs are associated with certain astronomical
                  constellations has led to much confusion amongst astrologers and non-astrologers.
                  Basically, our zodiac and the signs are no more than a circular measure,
                  a 360-degree scale. Each of the twelve sections of this circular measure
                  has certain characteristics, based on qualities associated with the elements.&nbsp; </p>
                <p>Tradition sees the entire universe as consisting of the elements fire,
                  air, water and earth. When we apply this system to personalities, the elements
                  represent certain basic traits and give a certain “temperament”.
                  This varies according to the emphasis of the elements in the horoscope.
                  Any placement of planets or personal points in a sign constitutes an emphasis.
                  (see also “<a href="https://www.astro.com/astrology/in_house1_e.htm">The
                   House System</a>”)&nbsp; </p>
                <p>The four elements can be regarded as four basic principles of life. These
                  can be applied to all sorts of things through the principles of similarity
                  and analogy. C.G. Jung has opened the door to a modern understanding of
                  these categories by developing a system of types, in which the elements
                  correspond to four basic functions of the psyche. The emphasis or non-emphasis
                  of the elements in the individual horoscope reveals fundamental aspects
                  of the personality.&nbsp; </p>
                </div>
                <div>
                    <h5 class="card-title">Fire</h5>
                    <p>People with a strong emphasis of the fire element are spontaneous
                        and impulsive, they apply their energies wholeheartedly. Their emotional
                        response is quick and they have a lively imagination.&nbsp; </p>
                    <p><strong>Fire signs: </strong>Aries, Leo and Sagittarius </p><p></p>
                </div>
                <div>
                    <h5 class="card-title">Air</h5>
                    <p>Airy people are quick and animated. They apply their energies in
                       very diverse ways. They tend to intellectualize their feelings and
                       expectations.&nbsp; </p>
                     <p><strong>Air signs:</strong> Libra, Aquarius, Gemini</p>
                </div>
                <div>
                    <h5 class="card-title">Water</h5>
                    <p>People with a strongly emphasized water element are feeling types
                       and are very sensitive. Their imaginative and emotional lives are
                       deep and rich.&nbsp; </p>
                     <p><strong>Water signs:</strong> Cancer, Scorpio, Pisces</p>
                </div>
                <div>
                    <h5 class="card-title">Earth</h5>
                    <p>Earthy people react quietly and slowly. They apply themselves with
                       endurance. Emotionally they are deeply rooted and slow to change.&nbsp; </p>
                     <p><strong>Earth signs: </strong>Capricorn, Taurus, Virgo</p>
                </div>
                <div>
                    <p>Western traditional sources also take into account a fifth element, the
                        'quinta essentia'. This very simply describes the soul or the spiritual
                        being of a person. It stands apart from the other four elements and is not
                        depicted in the horoscope. This is why it is frequently overlooked. It takes
                        us beyond the doctrine of the four elements and their application in the
                        field of astrology. It hints at the freedom of man and reminds us of the
                        great mystery of the eternal.&nbsp;&nbsp; 
                        </p><h3>Elementary states or Qualities&nbsp;&nbsp; </h3>
                        <p>Each of the four elements occurs in three states or qualities, respectively
                          named the cardinal, fixed and mutable or common states. We can consider
                          the physical properties of water as an analogy: Here too, chemical elements
                          can occur in various states. Water, for example, is liquid in its usual,
                          real state. Seen astrologically this would be the cardinal state. When
                          frozen it takes on a solid form, astrologically this would correspond
                          with the fixed state. When heated, it becomes vaporous steam - comparable
                          to the mutable state in astrology. In the individual horoscope, the placement
                          of planets in cardinal, fixed or mutable signs also reveals basic traits
                          of the personality.&nbsp; </p>
                </div>
                <div>
                    <h5 class="card-title">Cardinal</h5>
                    <p>People with an emphasis on cardinal signs have an urge to take the
                       lead and to shape things. They are initiators and act according to
                       their aims and goals.&nbsp; </p>
                     <p><strong>Cardinal signs:</strong> Aries, Libra, Cancer, Capricorn</p>
                </div>
                <div>
                    <h5 class="card-title">Fixed</h5>
                    <p>People with an emphasis on the fixed signs have a desire to build
                       on what is already there and to organize it more efficiently. They
                       tend to preserve a "status quo" and act in response to given circumstances.&nbsp; </p>
                     <p><strong>Fixed signs:</strong> Leo, Aquarius, Scorpio, Taurus</p>
                </div>
                <div>
                    <h5 class="card-title">Mutable</h5>
                    <p>People with an emphasis on the mutable or common signs tend to seek
                       change and renewal. They can easily replace one thing with another
                       and align their actions with unfolding processes.&nbsp; </p>
                    <p><strong>Mutable signs:</strong> Sagitarius, Gemini, Pisces, Virgo</p>
                </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            The Signs
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
                Each of the 12 astrological signs belongs to a certain element in one of
                  its states. This gives us twelve quite different basic types. These varying
                  qualities provide the “backdrop” to the planetary positions.
                  As each horoscope has different planets in different signs, there can never
                  be a “pure” Aries or a “pure” Gemini. Each horoscope
                  is a highly individual, very complex and usually also very varied combination
                  of parts.</p>
                  <p> In order to understand the signs, we must take into account the typical
                    expressions of the elements, as well as the characteristics belonging to
                    the planets associated with the signs. </p>

            <h3>Aries</h3>
            <p>Cardinal fire; ruled by Mars&nbsp; <br>
                Willpower, impulsive, initiative, courage, energy, activity&nbsp; <br>
                Often rushes headlong into things. </p>
            <h3>Taurus</h3>
            <p>Fixed earth; ruled by Venus&nbsp; <br>
                Sensual, pleasure-seeker, steadfast, strives for security&nbsp; <br>
                Sees red when provoked for a long time </p>
            <h3>Gemini</h3>
            <p>Mutable air; ruled by Mercury&nbsp; <br>
                Mental type, witty, communicative, mobile, takes pleasure in learning. Rarely
                touches down. </p>
            <h3>Cancer</h3>
            <p>Cardinal water; ruled by the Moon&nbsp; <br>
                Emotional type, stubborn, seeks safety and closeness&nbsp; <br>
                Very much a family person. </p>
            <h3>Leo</h3>
            <p>Fixed fire; ruled by the Sun&nbsp; <br>
                Glamour, generosity, organizer, the center of attention&nbsp; <br>
                Likes to take the lion's part.</p>
            <h3>Virgo</h3>
            <p>Mutable earth; ruled by Mercury&nbsp; <br>
                Precise, differentiates, does what is necessary, utilitarian&nbsp; <br>
                A critical point of view.</p>
            <h3>Libra</h3>
            <p>Cardinal air; ruled by Venus&nbsp; <br>
                A sense of beauty and proportion, tactful, seeks balance and harmony. Sometimes
                hovers between the scales.</p>
            <h3>Scorpio</h3>
            <p>Fixed water; ruled by Pluto&nbsp; <br>
                Corrosive, passionate, piercing, extreme situations
                Frequently quarrels with the spirits he called.</p>
            <h3>Sagittarius</h3>
            <p>Mutable  fire; ruled by Jupiter&nbsp; <br>
                Free spirit, carefree, love of movement, cheerful
                Wanderlust, often seems to be elsewhere.</p>
            <h3>Capricorn</h3>
            <p>Cardinal earth; ruled by Saturn&nbsp; <br>
                Enduring, has a sense of purpose, proud, ambitious
                Can get stuck in craggy heights.</p>
            <h3>Aquarius</h3>
            <p>Fixed air; ruled by Uranus&nbsp; <br>
                Communicative, humanitarian, progressive, fraternal
                Universal spirit with occasional astonishing obstinacy.</p>
            <h3>Pisces</h3>
            <p>Mutable water; ruled by Neptune&nbsp; <br>
                Sensitive, compassionate, helpful, sociable
                Very adaptable, hard to get a hold on.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            The House System: Axes
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div>
                <p>As we mentioned earlier, the astrological houses show us which spheres
                  or aspects of life receive more weight than others in a horoscope. Each
                  astrological house stands for a particular sphere. The house division of
                  a horoscope varies from person to person, since it is calculated according
                  to the exact time of birth and the geographic position of the place of birth.&nbsp; </p>
                <p>The horoscope is divided by two axes into the eastern and western hemispheres
                  as well as into the day and night hemispheres. The four points of intersection
                  of these two axes with the ecliptic determine the house division of the
                  horoscope. This is usually based on a further division of each of the four
                  quadrants by three. There are various mathematical models according to which
                  the houses are calculated. Consequently there is quite a long list of differing
                  house systems (Placidus, Regiomontanus, Equal, Vehlow, etc.). Most of these
                  differ only in the method of calculation used to divide the quadrants.&nbsp; </p>
                <p>The transition from one house to another is not as clear as the change
                  from one sign to another. Planets occupying a position near the end of a
                  house are often interpreted as belonging to the next.</p>
                <h2>The Horizon</h2>
                <h3> Ascendant and Descendant&nbsp; </h3>
                <h3>The individual and his complement&nbsp; </h3>
                <p>This axis, which divides the horoscope into an 'upper' (day-side) and a
                  'lower' (night-side) half, represents the local horizon at the time of birth.
                  That point at which the eastern horizon intersects the ecliptic is termed
                  the ascendant. It is the beginning or cusp of the first house. In opposition
                  to it, on the cusp of the seventh house, we find the descendant. We will
                  discuss the interpretation of the houses on the following pages. Planets
                  found near the ascendant at the moment of birth are rising, or have just
                  risen, while planets close to the descendant are setting.&nbsp;</p>
                <h2>The Meridian – A Vertical Division</h2>
                <h3> Imum Coeli and Medium Coeli </h3>
                <h3>Origins and orientation </h3>
                <p>The second important axis in house division is the meridian. This divides
                  the horoscope into an eastern (on the left of the chart) and a western (on
                  the right of the chart) half. The uppermost point of intersection of this
                  axis with the ecliptic is called the Medium Coeli (MC) or midheaven, the
                  lower point (situated under the horizon) is termed the Imum Coeli (IC).
                  Planets close to the MC occupy the highest possible place in the heavens
                  at the time of birth, while planets near the IC are so to speak under our
                  feet on the other side of the earth.&nbsp; </p>
              </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Houses
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div>
                <h4>1st House (Ascendant) – The individual personality&nbsp; </h4>
                <p> Together with the Sun and Moon the ascendant is one of the most important
                  single factors in a horoscope. The sign at the beginning of the first
                  house tells us a lot about someone's personality, temperament and constitution.
                  It typifies our immediate, instinctive reaction and shows how we present
                  ourselves to the world. The planet ruling the ascendant sign is of particular
                  importance for the interpretation.&nbsp; </p>
                <h4>2nd House – Values and Possessions&nbsp; </h4>
                <p> The second house and its occupants tell us about the material circumstances,
                  the acquisitive urge and how we deal with possessions and material means.
                  This includes the relationship to our own body.&nbsp; </p>
                <h4>3rd House – Communication&nbsp; </h4>
                <p> The third house and any planets occupying it tell us of our siblings,
                  the manner in which we communicate on an everyday level and the relationships
                  which determine our daily life.&nbsp; </p>
                <h4>4th House – Roots and Origins&nbsp;</h4>
                <p> This house describes our origins, the parental home and the circumstances
                  influencing childhood and youth. It describes how we relate to “family”,
                  our attitude towards “hearth and home”. The father image and
                  the relationship to the real father are also to be found here.&nbsp; </p>
                <h4>5th House – Pleasure and Creativity&nbsp; </h4>
                <p> Sexuality and eroticism are at home here, along with play in general and
                  all types of creative expression. This house also describes how we relate
                  to children, pleasure and simple fun.&nbsp;</p>
                <h4> 6th House – Work and Routine</h4>
                <p>     The sixth house describes the circumstances surrounding us in our daily
                  lives, including the work environment and daily routine. This includes
                  our behaviour towards subordinates. Bodily hygiene and care also belong
                  here, as well as tendencies to certain acquired illnesses.&nbsp; </p>
                <h4>7th House – Relating&nbsp; </h4>
                <p> The descendant sign and planets occupying the seventh house tell us about
                  how we select our partners and describes the partnerships and relationships
                  we seek. Often we are involuntarily attracted to people whose horoscopes
                  carry a strong emphasis of the sign in our seventh house.&nbsp; </p>
                <h4>8th House – Loss and Common Property&nbsp;</h4>
                <p> The eighth house shows how we relate to communal goods and how we deal
                  with material loss. The taxes levied on us each year are a good example
                  for this and show how closely related these areas are. Traditional astrology
                  maintains that this house has an affinity to death and all things metaphysical.
                  Death would then be the ultimate material loss. Amongst other things,
                  the study of metaphysics can be a very differentiated way of dealing with
                  this loss, which inevitably comes to us all.&nbsp; </p>
                <h4>9th House – Philosophies and Far Countries&nbsp; </h4>
                <p> The ninth house describes our spiritual leaning, life philosophy and our
                  world view. In fact, these are often influenced by journeys to foreign
                  countries. The attitudes cultivated and formed in this house can greatly
                  influence matters of the 10th. (see below) </p>
                <h4>10th House (MC) – Occupation and Calling&nbsp; </h4>
                <p> This house is of particular importance, since it affects not only our
                  choice of profession and our sense of calling - it also has a bearing on
                  our general development, what we become. This continues throughout our lives.
                  According to tradition, as well as more recent experience, this house
                  describes the mother image and the relationship to the real mother. </p>
                <h4>11th House – Friends and Acquaintances&nbsp; </h4>
                <p> The eleventh house describes how we relate to friends, benefactors and
                  teachers - people who wish us well or from whom we can learn. It also shows
                  us in these roles. This house shows how we relate to the society in which
                  we live.&nbsp; </p>
                <h4>12th House – Beyond the Personal&nbsp;</h4>
                <p> This house represents those spheres of life in which the individual no
                  longer plays a part, where we step back for a greater whole or lose ourselves
                  in one. Traditional astrology sees hospitals, prisons and psychiatric
                  institutions in this house. It is also associated with monasteries and
                  any other retreats.&nbsp; </p>
              </div>
          </div>
        </div>
      </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Rulers
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <article lang="en">
                <h1>Rulers</h1>
                <p>Each sign of the zodiac is associated with a planet, which is called
                a "ruler". This is the sign ruler. The system of rulers also
                plays an important role in the system of houses.</p>
                <h2>Sign Rulers</h2>
                <p>Each of the ten planets is ruler or lord of at least one sign of the
                zodiac. When we speak of "sign rulers", we do this to
                distinguish them from the rulers of the houses. If a planet is in
                "its" sign (for example Mars in Aries), it expresses itself in a
                way that best suits its nature. The planet is then in its domicile. If a
                planet is located in the domicile of another planet, it is influenced by
                its quality. For example, if Mars is in Capricorn, its expression is not
                only influenced by the themes of Capricorn, but also by Saturn - as ruler
                of Capricorn. In this way, hidden "relationships" between the planets
                become visible.</p>
                <p>Before the planets Uranus, Neptune and Pluto were discovered, a
                horoscope was created with the seven "lights" visible to the eye.
                Accordingly, astrology knows seven old and three new rulers. Today, three
                signs of the zodiac have a main and a secondary ruler. It can be either the
                old or the new planetary ruler, depending on the technique used. In
                horary astrology and electional astrology, for example, the old rulers are
                given greater weight or even used exclusively.</p>
                <h3>The most frequently used assignments of rulers today</h3>
                <p> Aries: Mars<br>
                  Taurus: Venus<br>
                  Gemini: Mercury<br>
                  Cancer: Moon<br>
                  Leo: Sun<br>
                  Virgo: Mercury<br>
                  Libra: Venus<br>
                  Scorpio: Pluto (old ruler: Mars)<br>
                  Sagittarius: Jupiter<br>
                  Capricorn: Saturn<br>
                  Aquarious: Uranus (old ruler: Saturn)<br>
                  Pisces: Neptune (old ruler: Jupiter)</p>
                <h3> Sign rulers in the zodiac</h3>
                <div style="">
                <p text-align="center"><img src="https://www.astro.com/im/in/signruler.png" alt="Ruler system" style="width:100%;height:auto;max-width:450px;"></p>
                <p>This graphic shows the old spherical model of medieval astrology:
                Sun and Moon as the two bright lights stand in the masculine sign of Leo 
                and the feminine signe of Cancer, followed by the sphere of Mercury with 
                Gemini and Virgo as well as the other planetary spheres. The outer planets 
                were inserted into the spheres of Mars, Jupiter and Saturn as main or 
                secondary rulers. </p>
                </div>
                <h2>House Rulers</h2>
                <p>The system of house rulers is a common method for deciphering a
                horoscope structure. House rulers are used in psychological as well as in
                electional and horary astrology. </p>
                <p>The house ruler is the planet ruling the zodiac sign
                located at the cusp of the respective house in a horoscope. If, for
                example, the cusp of the second house is in Aries, the material
                circumstances of life (2nd house) are characterized by willpower and zest
                for action (Aries). As the ruler of Aries is Mars, Mars becomes the
                personal ruler of this house. Now it can be determined in which house
                Mars is located and interesting cross-connections can be established on the
                house level. Therefore, if Mars is in the 9th house, in our
                example, the 2nd house also has a connection to the topics of the 9th
                house, e.g. to distant countries or other cultures.</p>
                <h2>Horoscope or Chart Ruler</h2>
                <p>In psychological astrology, the ruler of the horoscope is the planet
                that rules the sign in which the Ascendant is placed (analogous to the
                rulers of the houses). If the Ascendant is in Gemini, for example, then
                Mercury is the ruler of the horoscope. </p>
                <p>In classical astrology, the position of a planet is judged by its
                dignity or debility, i.e. whether it is beneficial or detrimental. This
                position is called its "dignity" or "essential dignity". 
                More information on this topic can be found in the 
                <a href="https://www.astro.com/astrowiki/en/Dignity" target="new"> Astro-Wiki.</a></p>
            </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
