{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div>
    <header class="header h1">
        <h1>Welcome to the BirthChart <i>{{  user_name  }}</i></h1>
    </header>
</div>

<div>
    <strong><i><p class="text-muted">This project was made for the final project of CS50 courses. Feel free to explore the site!</p></i></strong>
</div>
<br>

<div class="row">
    <div class="col-md-6">
        <br>
        <h3>What is an astrology birth chart?</h3>
        <p>An astrology birth chart—also called an astrology natal chart—is a map of where all the planets were in their journey around the Sun (from our vantage point on earth) at the exact moment you were born. An astrology chart reading can reveal your strengths and weaknesses, your opportunities for soul growth, the best timing for your most important moves.</p>
        <h3>Calculating your astrology birth chart</h3>
        <p>To calculate your astrology birth chart, you’ll need your time, date and place of birth. Some people don’t know their birth time. If you can’t find it on your birth certificate, you can try contacting the Vital Records office in your state or area of birth. And if that still doesn’t work, make as close of an estimate as you can or enter 12:00 noon.</p>
        <p>Without a birth time, you won’t be able to accurately learn your rising sign, or ascendant. Nor will you correctly know which houses the planets in your chart fall in. But there is still a LOT of data you can glean by entering your date and location of birth—so don’t let that stop you from checking out your astrology natal chart.</p>
        <h3>How many astrological charts are there in total?</h3>
        <p>Actually, quite a lot. Many charts can serve different purposes. You can find three different charts on this website. These charts; Natal is Synastry and Transit.</p>
    </div>

    <div class="col-md-6">
        <br>
        <h3>What is Natal Chart anyway ?</h3>
        <p>The Natal Chart is the combination of 12 houses, 12 signs, 10 planets, fixed stars and aspects as the planets accompany our soul, body and life as we come to this 3D world. For this reason, our birth chart is like our fingerprint; is special to us. It is a structure that is read with math-based symbols that show our soul, love, communication, morality and fertility structures, material and moral rewards and what we will pay.
            Why did we come to this world and why did we choose to be born? Which exams did we choose? What will our destiny, family structure, and marriage structure be like? How many children will we have? How will our career, prosperity and income be? In which cycle and when will the accidents, separations and deaths that may happen to us occur? What we can face in life exams; The Birth Map determines our life process from the womb to our last breath.
        </p>
        <h3>What is Synastry anyway ?</h3>
        <p>The synastry chart is simply a superimposition of the Natal chart of two people. This chart allows the astrologer to more easily interpret the relationship between two people. Inferences are made by looking at people's planets, positions and aspects they make with each other. It is also commonly known as a relationship chart.</p>
        <h3>What is Transit anyway ?</h3>
        <p>In the Transit chart, just like in the Synastry chart, two date information is entered. The difference between these two maps is that in the Synastry chart, the charts of two people are compared, while in the Transit chart, the sky is compared with the sky when the person was born, at the time he was found or at any time he was curious. It can be used to interpret important events that have taken place in a person's life or important events that may occur today.</p>
    </div>
</div>

<div>
    <br>
    <figure class="text-center">
        <blockquote class="blockquote">
          <p class="mb-0">“We are born at a given moment, in a given place and, like vintage years of wine, we have the qualities of the year and of the season of which we are born. Astrology does not lay claim to anything more.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
        <cite title="Source Title">Carl Jung</cite>
        </figcaption>
      </figure>
</div>
{% endblock %}
