{% extends "layout.html" %}

{% block title %}
    Composite/Transit
{% endblock %}

{% block main %}
<form action="/synastrychart" method="post">
    <div class="form row">
        <div class="form-group col-md-6">
            <h3>First Person</h3>
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="First Name" type="text">
            <br>
        </div>
        <div class="form-group col-md-6">
            <h3>Second Person</h3>
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="second_name" name="second_name" placeholder="Second Name" type="text">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="year" name="year" placeholder="Year" type="number" min="0">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="second_year" name="second_year" placeholder="Year" type="number" min="0">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="month" name="month" placeholder="Month" type="number" min="0" max="12">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="second_month" name="second_month" placeholder="Month" type="number" min="0" max="12">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="day" name="day" placeholder="Day" type="number" min="1" max="31">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="second_day" name="second_day" placeholder="Day" type="number" min="1" max="31">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="hour" name="hour" placeholder="Hour" type="number" min="00" max="23">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="second_hour" name="second_hour" placeholder="Hour" type="number" min="00" max="23">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="minute" name="minute" placeholder="Minute" type="number" min="0" max="59">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="second_minute" name="second_minute" placeholder="Minute" type="number" min="0" max="59">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="birthplace" name="birthplace" placeholder="Birth Place" type="text">
            <br>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control mx-auto w-auto" id="second_birthplace" name="second_birthplace" placeholder="Birth Place" type="text">
            <br>
        </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Show Chart</button>
</form>
{% endblock %}
